@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left" style="color:darkred">
    <h1 class="display-4">Bottles</h1>
    <p>Our country has had glass bottle containers since ancient times. In the past, academic circles believed that glassware was very rare in ancient times, so it should only be owned and used by a few ruling classes. However, recent research suggests that ancient glassware is not difficult to produce and manufacture, but it is not easy to preserve, so it is rare in later generations. Glass bottle is a traditional beverage packaging container in my country, and glass is also a kind of packaging material with a long history. With many packaging materials pouring into the market, glass bottle containers still occupy an important position in beverage packaging, which is inseparable from its packaging characteristics that other packaging materials cannot replace.</a>.</p>
    <p>
        Plastic bottles and glass bottles play an important role in today's production packaging, especially in cosmetic packaging. Cosmetic packaging containers of various shapes are one of the main factors that attract consumers to buy goods. A large number of brand advertisements are also outsourced to display products, and cosmetics are purchased online.
        The first thing that attracts consumers' attention is the outer packaging. In the production of modern cosmetics, the investment in the outer packaging of many high-end cosmetics is as high as 70% of the entire product cost. Brand-name products do not hesitate to pay high prices to reflect their value.
        There are many types of packaging for liquid, creamy cosmetics and creams. The most types and quantities of packaging. There are many new packaging styles.
    </p>
    <h1>Type of Bottle</h1>
    <ul>
        <li>Glass bottle</li>
        <li>Plastic bottles</li>       
    </ul>

</div>
