@{
    ViewData["Title"] = "About US";
}

<h1>@ViewData["Title"]</h1>
<p>
    My self Simranjit Kaur
    i created my Assignment on Bottles
    In that i created a Company related Bottles which SImranBottles
    Bottles are the daily need they are made of different different meterials
</p>

<h2>SimranBottles Company Description</h2>
<p>
    SimranBottles Company located in Punjab India
    I am here in Canada i am running my company online and  in india my father running this company
</p>


<h3>Description Related Bottles</h3>
<p>
<p>
    Well, in market different type of bottles are avialable some of them made of  Steel, Plastic, Coper, Aluminum.
    In my company there are all type of bottles i haired many workers which is doing all work i have one person who looks for quality of bootles.
    i always make sure that bootles have good quality.
</p>